.image_carousel .playlist-thumbnail {
  float: left;
}
.image_carousel {
    padding: 10px 0 15px 40px;
    position: relative;
}
.image_carousel img {
    /*border: 1px solid #ccc;
    background-color: white;*/
	border: 1px solid #777;
    /*padding: 9px;*/
    margin-right: 6px;
    display: block;
/*    float: left;*/
}
a.prev, a.next {
    background: url(../img/miscellaneous_sprite.png) no-repeat transparent;
    /*width: 45px;*/
	width: 8px;
    height: 10px;
    display: block;
    position: absolute;
    /*top: 85px;*/
	top: 43px;
}
a.prev {            left: 12px;
                    background-position: -168px -300px; }
a.prev:hover {      background-position: -143px -300px; }
a.prev.disabled {   background-position: -168px -300px !important;  }
a.next {            right: 15px;
                    background-position: -50px -300px; }
a.next:hover {      background-position: -75px -300px; }
a.next.disabled {   background-position: -50px -100px !important;  }
a.prev.disabled, a.next.disabled {
    cursor: default;
}

a.prev span, a.next span {
    display: none;
}
.clearfix {
    float: none;
    clear: both;
}

.caroufredsel_wrapper {
	height: 64px;
}

ul.playlist-rows {
    list-style-type: none;
}

img.playlist-image:hover {
	cursor: pointer;
}

.placeholder-title-video {
	margin-left: 40px;
}
